node_modules
.env
package-lock.json
__pycache__/*
Backend-v1/venv/*
Backend-v1/app/__pycache__/*
Backend-v1/app/api/api_v1/__pycache__/*
Backend-v1/app/core/__pycache__/*
Backend-v1/app/api/__pycache__/*
Backend-v1/app/models/__pycache__/*
Backend-v1/app/schemas/__pycache__/*
Backend-v1/app/services/__pycache__/*
